{% extends 'base.html' %}
{% load share_filter %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">메인 레시피 - {{ recipe.subject }}</h2>
    <div class="card my-3">
        {% for photo in recipe.photo_set.all %}
        <img src="{{photo.image.url}}"><br>
        {% endfor %}
        <div class="card-body">
            <div class="card-text">{{ recipe.subject|mark }}</div>
            <div class="d-flex justify-content-end">
                {% if recipe.modify_date %}
                <div class = "badge badge-light p-2 text-left mx-3">
                    <div class = "mb-2">수정 일자</div>
                    <div>{{ recipe.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge badge-light p-2 text-left">
                    <div class = "mb-2">{{ recipe.author.username }}</div>
                    <div>{{ recipe.create_date }}</div>
                </div>
            </div>
            {% if request.user == recipe.author %}
            <div class = "my-3">
                <a href = "{% url 'main:recipe_modify' recipe.id %}" class = "btn btn-sm btn-outline-secondary">수정</a>
                <a href = "#" class = "delete btn btn-sm btn-outline-secondary" data-uri = "{% url 'main:recipe_delete' recipe.id %}">삭제</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">종류 : {{ recipe.menu }}</div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">주재료 : {{ recipe.material|mark }}</div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">만드는 법 : {{ recipe.how_Make|mark }}</div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type = 'text/javascript'>
    $(document).ready(function(){
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
    });
</script>
{% endblock %}